* {
  padding: 0;
  margin: 0;
}
:root {
  --color-light-bg: #fff;
  --color-mid-gray: #acaaae;
  --color-bright-red: #e41b1c;
  --color-dark-red: #b21f21;
  --color-dark-bg: #0b0910;
  --color-deep-purple: #423550;
  --color-rich-purple: #9c3ab3;
  --color-rich-pink: #f91996;
}
/* body {
  background-color: #191528;
  color: white;
} */
body {
  background-color: var(--color-light-bg);
  font-family: "Nunito", sans-serif;
  position: relative;
  z-index: 5;
}
header {
  width: 100%;
  background: linear-gradient(90deg, #9c3ab3, #f91996);
  position: relative;
  filter: drop-shadow(1px 1px 10px #9c3ab3);
  margin-bottom: 20em;
}

.headerWave {
  width: 100%;
  height: 16em;
  mask-repeat: no-repeat;
  mask-size: cover;
  mask-image: url("../Images/wave-haikei3.svg");
  background: linear-gradient(90deg, #9c3ab3, #f91996);
}

@media only screen and (max-width: 600px) {
  header {
    margin-bottom: 8em;
  }
}

.heart-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 8px;
  width: 64px; /* Adjust as needed */
  height: 64px; /* Adjust as needed */
  position: relative;
}

.heart-part {
  width: 100%;
  height: 100%;
  background-color: red;
  border-radius: 50%; /* Makes the top halves round */
}

.heart-part:nth-child(1),
.heart-part:nth-child(2) {
  position: relative;
  transform: translateY(-50%);
}

.heart-container::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  background-color: red;
  transform: rotate(45deg);
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%);
  z-index: -1;
}
@keyframes moveBackground {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100px 0%;
  }
}
